@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', sans-serif;
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
    z-index: 10000;
    margin: 0%;
    padding: 0%;
    user-select: none; /* Standard property */
  -webkit-user-select: none; /* For WebKit browsers (Chrome, Safari) */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none;
}

.page {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(50px) saturate(2.5);
    z-index: 0;
    box-shadow: inset 0 0 300px 8   0px rgb(0, 0, 0);

}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(0.4) sepia(1) ;
    z-index: -1;
}


.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    width: 600px;
    height: 600px;
    transform: scale(2);
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.1)) drop-shadow(0px 4px 18.9px rgba(0, 0, 0, 0.25));
    box-shadow: inset 0 0 10px 0px #ffffff;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.cover:hover {
    transform: scale(1.97);
}

.top {
    top: 0%;
    margin-top: 20px;
    position: absolute;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    font-family: JetBrains Mono;
    text-shadow: none;
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    color: #ffffff84;

    mix-blend-mode: overlay;
}
.settings{
    background-color: #00000000;
    border: solid 1px #ffffff84;
    padding: 8px 10px;
    color: #ffffff84;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.settings:hover{
    color: #000000;
    background-color: #ffffff66;
}
.settings:active{
    background-color: #7b7b7b66;
}

.info {
    position: absolute;
    top: 0px;
    right: 20px;
    font-family: JetBrains Mono;
    text-shadow: none;
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    line-height: 37px;  
    display: flex;
    align-items: center;

    color: #ffffff84;

    mix-blend-mode: overlay;
}

.bottom {
    bottom: 0px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 200px;
    height: 50px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    margin-bottom: 100px;
    z-index: 1000;
}

.button:hover {
    background: #ffffffdc;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.button:active {
    background: #ffffff45;
    color: #000000;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.controls{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    accent-color: #ffffff;
    color: #ffffff;
    opacity: 0.5;
    transition: all 0.3s;
    }


@media screen and (max-width: 900px) {
    .cover{
        scale: 0.8;
    }

    .top{
        font-size: 25px;
        transform: scale(0.9);
    }

    .logo{
        display: none;
    }

    .info{
        display: none;
    }
    
    .page {
        height: 100dvh;
        position: fixed;
        -webkit-overflow-scrolling: auto;
    }
}
.time{
    font-family: JetBrains Mono;
    font-style: normal;
    font-weight: 100;
    line-height: 26px;
    color: #ffffff;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}
.progress{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    filter: blur(1px);
}

.imageCont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-cont{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: start;
    padding-left: 100px;
    padding-top: 200px;
    align-items: start;
    pointer-events: none;
}

.settingsCard{
    background-color: #000000dd;
    border: solid 2px #ffffff16;
    backdrop-filter: blur(10);
    width: 400px;
    height: fit-content;
    box-shadow: 0 0 100px 50px #0e0e0edd;
    padding: 20px;
    color: #ffffff;
    border-radius: 20px;
    pointer-events: all;
    font-family: JetBrains Mono;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.toggle{
    background-color: #000000;
    padding: 10px;
    padding-left: 20px;
    border: 2px solid #494949;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    font-size: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sectCont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.settingsSect{
    border: #494949 1px solid;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

.settingsInput{
    background-color: #49494989;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    display: flex;
    text-align: center;
    color: #bfbfbf;
}
.settingsInputLabel{
    font-size: 15px;
    text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    margin-block: 20px;
    transition: background 0.3s;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #818181;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.2s;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #818181;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.2s;
  }

  input[type="range"]:hover::-webkit-slider-thumb {
    background: #818181;
    transform: scale(1.2);
  }

  input[type="range"]:hover::-moz-range-thumb {
    background: #818181;
    transform: scale(1.2);
  }

  input[type="range"]::-moz-focus-outer {
    border: 0;
  }

  input[type="range"]:active::-webkit-slider-thumb {
    background: #818181;
    transform: scale(1.4);
  }

  input[type="range"]:active::-moz-range-thumb {
    background: #818181;
    transform: scale(1.4);
  }